body {
  font-family: Arial;
  padding: 20px;
  background-color: #f4f4f4;
}

header,
footer {
  background-color: rgb(29, 154, 176);
  color: white;
  padding: 10px;
  text-align: center;
}

.card {
  background: white;
  padding: 15px;
  margin: 10px 0;
  border-radius: 10px;
}

button {
  padding: 10px 20px;
  background-color: rgba(205, 28, 57, 0.884);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input {
  padding: 10px;
  margin-right: 10px;
}